//
   Created by jshi on 8/24/16.

.app-block.app-block-guided
    h2.title Questions
    .content.form-horizontal
        .form-group
            .col-xs-3.col-xs-offset-2
                label.control-label(translate="version")
            .col-xs-5

        .row
            .col-xs-12
                button.btn.btn-next.submit(ng-click="navigation.goNext()" translate="next")
