.app-block.app-block-guided.col-xs-12
    .content
        .row
            .col-xs-12
                div
                    p Introduction to Red Hat Mobile Application Platform 4.x sizing tool

                    p Red Hat Mobile Application Platform version 4.1 is deployed on Red Hat Enterprise Linux and OpenShift Containers Platform,  this tool provides the computing sizing minimum recommendations for the OpenShift installation.

                    p By asking you 3 questions it determines the minimum recommended number of Virtual Machines (VMs) to configure the nodes required for the installation.
        .row
            .col-xs-12
                button.btn.btn-next.submit(ng-click="start()" translate="start") 
