//
   Created by jshi on 8/24/16.

.app-block.app-block-guided
    h2.title Suggestion
    .content.form-horizontal
        .form-group
            .col-xs-3.col-xs-offset-2
                label.control-label Current Version
            .col-xs-5

        .row
            .col-xs-10
                button(ng-click="navigation.startOver()").btn.btn-next.submit Start over