$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'main/main.scss';
// endinjector
