.row
    .col-xs-2
        nav.subnav.subnav-progress
            ul
                li(ng-repeat="item in navigation.menuItems" ui-sref-active="current" ng-show="isShown(item.step)").li
                    a(ui-sref="{{item.link}}" ng-style="isActive(item.link) ? {color: 'white'} : {color: '#808080'}") {{item.title}}
    .col-xs-10
        div(ui-view="")
