.app-block.app-block-guided
    h2.title Step1
    .content.form-horizontal
        .form-group
            .col-xs-3.col-xs-offset-2
                label.control-label Step1
            .col-xs-5

        .row
            .col-xs-12
                button.btn.btn-prev(ng-click="navigation.goPrevious()" translate="previous")
                button.btn.btn-next.submit(ng-click="navigation.startOver()" translate="start_over")
