.app-block.app-block-guided
    h2.title Memory Setting
    .content.form-horizontal
        .form-group
            .col-xs-12
                h2 Memory settings in /etc/sysctl.conf
            .col-xs-5

        .row
            .col-xs-12
                button.btn.btn-prev(ng-click="navigation.goPrevious()" translate="previous")
                button.btn.btn-next.submit(ng-click="navigation.startOver()" translate="start_over")
